language: node_js
node_js:
  - "8"
  - "10"

sudo: false
cache:
  directories:
    - node_modules

install:
  - npm ci

script:
  - npm run coverage

after_success:
  - npm i codecov
  - nyc report --reporter=lcov > coverage.lcov && codecov
